:root {
    --background-color: currentColor;
    --text-color: currentColor;
}
.lt-slider-color i,
.lt-intro-item .sppb-icon,
.lt-about .sppb-row,
.lt-team-item ul li,
.sp-megamenu-parent > li.active > a:before, 
.sp-megamenu-parent > li:hover > a:before,
.sp-megamenu-parent > li.active > a,
.sp-megamenu-parent > li.active:hover > a,
.lt-testimonial:before,
.lt-portfolio .sppb-row,
div.itemCommentsForm form input#submitCommentButton,
div.itemCommentsForm form input#submitCommentButton:hover,
.creativecontactform_wrapper input.creativecontactform_send,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:after {
    background-color: var(--background-color);
}
.lt-intro-title .sppb-addon-content:before,
.lt-intro-item:hover .sppb-icon i,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li:hover > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.lt-blog h3,
.et-about-border,
.tp-caption.excerp b, .excerpt b,
.lt-contact-form h4,
div.k2ItemsBlock ul li a {
	color: var(--text-color);
}
.lt-slider-color,
#et-counter .sppb-icon-inner i {
  	color: var(--text-color)!important;
}
.et-education-center-sub .bg-center i,
.et-education-center-sub .bg-2 i,
.et-education-center-sub .bg-3 i,
.et-education,
.sp-megamenu-parent > li .sp-menu-badge,
.et-education-2,
.et-get-touch,
#et-download,
.et-about-top-item .sppb-icon .sppb-icon-container,
#et-service .item-1 .sppb-icon-container i {
  background: var(--background-color)!important;
}
.et-about-border {
      border-bottom-color: color: var(--text-color)!important;
}
